# Make Tab autocomplete regardless of filename case
set completion-ignore-case on
set completion-map-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on
set show-all-if-unmodified off

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# Use the text that has already been typed as the prefix for searching through
# commands (i.e. more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Do not autocomplete hidden files unless the pattern explicitly begins with a dot
set match-hidden-files off

# Show all autocomplete results at once
set page-completions off

# If there are more than 200 possible completions for a word, ask to show them all
set completion-query-items 200

# Show extra file information when completing, like `ls -F` does
set visible-stats on
set colored-stats on

# Be more intelligent when autocompleting by also looking at the text after
# the cursor. For example, when the current line is "cd ~/src/mozil", and
# the cursor is on the "z", pressing Tab will not autocomplete it to "cd
# ~/src/mozillail", but to "cd ~/src/mozilla". (This is supported by the
# Readline used by Bash 4.)
set skip-completed-text on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on

# To allow the use of 8bit-characters like the german umlauts, comment
# the line below. However this makes the meta key not work as a meta key,
# which is annoying to those which don't need to type in 8-bit characters.
set convert-meta off

# Use Alt/Meta + Delete to delete the preceding word
"\e[3~": kill-word

# begin end
"\e\e[D": beginning-of-line
"\e\e[C": end-of-line

# SHORCUTS

#Undo a directory change with Option-z
"\ez": 'cd -\015'

# Clear the screen
"\ek": 'printf "\\33c\\e[3J" \015'

# Reload the shell (i.e. invoke as a login shell)
"\er": 'exec $SHELL -l \015'


