//registry.npmjs.org/:_authToken=${NPM_TOKEN}

scope=${NPM_SCOPE}
depth=0
access=restricted
message=v.%s
viewer=browser
editor=${VISUAL}

init-author-name=${FULL_NAME}
init-author-email=${EMAIL}
init-author-url=${HOMEPAGE}
init-license=MIT
init-version=0.0.1


