{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": [
                ".prettierrc",
                ".eslintrc",
                ".lintstagedrc",
                ".stylelintrc"
            ],
            "options": { "parser": "json" }
        }
    ]
}
